{% set pagina = 'legal' %}

{% extends 'StaticBundle:Primary:base.html.twig' %}

{% block title %} | Aviso Legal{% endblock %}


{% block css %}
<link href="{{ asset('bundles/static/css/staticStyle.css') }}" rel="stylesheet" type="text/css">
{% endblock %}



{% block contenido %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>AVISO LEGAL</h1>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{{ asset('bundles/static/js/static.js') }}"></script>
{% endblock %}
