{% set pagina = 'legal' %}

{% extends 'StaticBundle:Primary:base.html.twig' %}

{% block title %} | Aviso Legal{% endblock %}


{% block css %}
<link href="{{ asset('bundles/static/css/staticStyle.css') }}" rel="stylesheet" type="text/css">
{% endblock %}



{% block contenido %}
<div class="container">
	<div class="row">
		<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
			<h1>AVISO LEGAL</h1>
			<ul>
				<li>Denominación Social: Jacobo Balongo Farach</li>
				<li>Domicilio Social: Avda. Europa 8, CC La Noria CA-15 03503, BENIDORM, ALICANTE.</li>
				<li>CIF / NIF: B-03749900</li>
				<li>Teléfono: (+34) 966 803 710</li>
				<li>E-Mail: fincas@balongo.eu</li>
			</ul>
			<p>
			El prestador, responsable del sitio web, pone a disposición de los usuarios el presente documento con el que pretende dar cumplimiento a las obligaciones dispuestas en la Ley 34/2002, de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI-CE), así como informar a todos los usuarios del sitio web respecto a cuáles son las condiciones de uso del sitio web.
			</p>
			<p>
			Toda persona que acceda a este sitio web asume el papel de usuario, comprometiéndose a la observancia y cumplimiento riguroso de las disposiciones aquí dispuestas, así como a cuales quiera otra disposición legal que fuera de aplicación.
			</p>
			<p>
			El prestador se reserva el derecho a modificar cualquier tipo de información que pudiera aparecer en el sitio web, sin que exista obligación de preavisar o poner en conocimiento de los usuarios dichas obligaciones, entendiéndose como suficiente con la publicación en el sitio web del prestador.
			</p>
			<h2>PROTECCIÓN DE DATOS PERSONALES</h2>
			<p>
			El prestador se encuentra profundamente comprometido con el cumplimiento de la normativa española de protección de datos de carácter personal, y garantiza el cumplimiento íntegro de las obligaciones dispuestas, así como la implementación de las medidas de seguridad dispuestas en el art. 9 de la Ley 15/1999, de Protección de Datos de Carácter Personal (LOPD) y en el Reglamento de Desarrollo de la LOPD.
			</p>
			<p>
			Sobre los derechos que asisten a todo usuario y el procedimiento para ejercitarlos. No vendemos, rentamos, prestamos ni facilitamos los datos recabados a terceros, únicamente Fincas Balongo los utiliza y explícitamente sólo por el personal que lo requiere.
			</p>
			<p>
			Todos y cada uno de los empleados guardará en secreto indefinidamente los datos personales a los que accedan en su puesto de trabajo.
			</p>
			<p>
			Balongo.eu cuenta con las medidas de seguridad técnicas necesarias que garantizan la seguridad de los datos de carácter personal y eviten su modificación, pérdida, tratamiento y/o acceso no autorizado, quedando exenta de cualquier responsabilidad ante el Usuario, de causas de fuerza mayor o causas ajenas a la misma.
			</p>
			
			<h2>POLÍTICA DE COOKIES</h2>
			<p>
			Cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.. El navegador del usuario memoriza cookies en el disco duro solamente durante la sesión actual ocupando un espacio de memoria mínimo y no perjudicando al ordenador. Las cookies no contienen ninguna clase de información personal específica, y la mayoría de las mismas se borran del disco duro al finalizar la sesión de navegador (las denominadas cookies de sesión).
			</p>
			<h3>¿Qué tipos de cookies utiliza esta página web?</h3>
			<p>
			<strong>Cookies técnicas:</strong> Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales. 
			</p>			
			<p>
			<strong>Cookies de análisis:</strong> Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos. 
			</p>
			<p>
			<strong>Cookies de terceros:</strong> Balongo puede utilizar servicios de terceros que, por cuenta de Balongo, recopilaran información con fines estadísticos, de uso del Site por parte del usuario y para la prestacion de otros servicios relacionados con la actividad del Website y otros servicios de Internet. 
			</p>
			<p>
			En particular, Balongo utiliza <em>Google Analytics</em>, un servicio analítico de web prestado por Google, Inc. con domicilio en los Estados Unidos con sede central en 1600 Amphitheatre Parkway, Mountain View, California 94043.  Para la prestación de estos servicios, estos utilizan cookies que recopilan la información, incluida la dirección IP del usuario, que será transmitida, tratada y almacenada por Google en los términos fijados en la Web Google.com. Incluyendo la posible transmisión de dicha información a terceros por razones de exigencia legal o cuando dichos terceros procesen la información por cuenta de Google.
			</p>
			<p>
			<strong>El Usuario acepta expresamente, por la utilización de Balongo, el tratamiento de la información recabada en la forma y con los fines anteriormente mencionados.</strong> Y asimismo reconoce conocer la posibilidad de rechazar el tratamiento de tales datos o información rechazando el uso de Cookies mediante la selección de la configuración apropiada a tal fin en su navegador. Si bien esta opción de bloqueo de Cookies en su navegador puede no permitirle el uso pleno de todas las funcionalidades del Website.
			</p>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{{ asset('bundles/static/js/static.js') }}"></script>
{% endblock %}
