body {
	background: url('../../static/img/halftone.png');
	background-repeat: repeat;
	color: #333;
}

div#btnCont span {
	font-weight: bolder;
	color: #002360;
}

div.alert {
	margin-top: 20px;
}

div#btnCont {
	margin: 20px 0 80px 0;
}

div.tab:not(.active) {
	display: none;
}
